.dashboard-container {
    padding: 15px;

    .title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    }


    .content {
        display: flex;
        gap: 20px;

        .c-left {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            // border: 1px solid green;
            height: 300px;
            gap: 20px;


            .child {
                width: calc(50% - 10px);
                height: 150px;
                border: 1px solid #ccc;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .text-2 {
                    font-size: 25px;
                }

                // padding: 10px;
            }
        }

        .c-right {
            width: 50%;
            // border: 1px solid red;
            height: 300px;
        }
    }
}