.quiz-container {

    .add-new {
        padding: 15px;
    }

    .title {
        font-size: 27px;
        font-weight: 600;
    }

    legend {
        font-size: 15px;
    }

    .list-detail {
        padding: 15px;
    }
}