.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;

    .left-container {
        width: 70%;
        border: 1px solid red;

        .title {
            font-size: 20px;
            font-weight: 600px;
        }

        .q-content {
            .question {
                font-size: 30px;
                font-weight: 300px;
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
    }

    .right-container {
        width: 30%;
        border: 1px solid green;
    }

}