$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

.admin-container {
    display: flex;

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px !important;
            border: 1px solid rgb(0, 255, 8);
        }

        .admin-main {
            border: 1px solid red;
        }
    }

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh;
        }

        .btn-toggle {
            cursor: pointer;
            width: 35px;
            height: 35px;
            background: #353535;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            display: none;
        }

        .sidebar-btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .sidebar-btn {
                transition: width 0.3s;
                width: 150px;
                padding: 1px 15px;
                border-radius: 40px;
                background: rgba(255, 255, 255, 0.05);
                color: #adadad;
                text-decoration: none;
                margin: 0 auto;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-overflow: ellipsis;
                overflow: hidden;

                span {
                    margin-left: 5px;
                    font-size: 20px;
                }

                &:hover {
                    color: $highlight-color;
                }
            }
        }

        .collapsed {
            .sidebar-btn {
                display: inline-block;
                line-height: 40px;
                padding: 0;
            }
        }
    }

}